//compstak-prod-278696104475.d.codeartifact.us-east-1.amazonaws.com/npm/frontend/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
//compstak-prod-278696104475.d.codeartifact.us-east-1.amazonaws.com/npm/frontend/:always-auth=true
registry=https://compstak-prod-278696104475.d.codeartifact.us-east-1.amazonaws.com/npm/frontend/
